main.content.section
  .content__box.section__box
    header.content-header
      nav.bread-crumbs
        ul.bread-crumbs__list
          li.bread-crumbs__item
            a(href="#") Главная
          li.bread-crumbs__item
            a(href="#") Каталог
          li.bread-crumbs__item.bread-crumbs__item_active
            a(href="#") Бытовая техника
    .content__wrap
      include ./left-block
      include ./center-block
      















