footer.footer.section
  .footer__box.section__box
    .footer-left
      ul.footer-left__list
        li.footer-left__item © 2012–2013 ЗАО «Компания»
        li.footer-left__item info@name.ru
    .footer-center
      ul.footer-center__list
        li.footer-center__item
          a(href="#") Главная
        li.footer-center__item
          a(href="#") Каталог
        li.footer-center__item
          a(href="#") Доставка и оплата
        li.footer-center__item
          a(href="#") Прайс лист
        li.footer-center__item
          a(href="#") Контакты
    .footer-right
      .developers
        .developers_logo
          span.icon 
            <svg>
              <use xlink:href="#i_logo"></use>
            </svg>
        .developers__text
          a(href="#") Разработка сайта - 
          span компания «Пиксель Плюс»
     
