header.header.section
  .header-box.section__box
    .company
      .company__logo
        img(src=path+"logo.png", width="273", height ="100" alt="company__logo")
      //- .company__about
      //-   h2.company__title Название компании
      //-   span.company__slogan Самая клевая компания
    .contacts
      ul.contacts-phones
        li.contacts-phones__item
          span +7(499) 
          span 777-77-77
        li.contacts-phones__item
          span +7(499) 
          span 777-77-77
      .contacts-ather
        a(href="#").feedback-show Обратная связь
    







