.leftblock
  nav.leftblock-nav
    ul.leftblock-nav__list
      li.leftblock-nav__item.leftblock-nav__item_active
        a(href="#") Бытовая техника
          ul.leftblock-nav__list_1
            li.leftblock-nav__item.leftblock-nav__item_active
              a(href="#") Микроволновки
            li.leftblock-nav__item
              a(href="#") Холодильники
            li.leftblock-nav__item
              a(href="#") Посудомоечные машины
            li.leftblock-nav__item
              a(href="#") Чайники
      li.leftblock-nav__item
        a(href="#") Мобильная техника
          ul.leftblock-nav__list_1
            li.leftblock-nav__item
              a(href="#") Телефоны
            li.leftblock-nav__item
              a(href="#") Планшеты
            li.leftblock-nav__item
              a(href="#") Смарт часы
            li.leftblock-nav__item
              a(href="#") Умные гаджеты
      li.leftblock-nav__item
        a(href="#") Компьютеры
          ul.leftblock-nav__list_1
            li.leftblock-nav__item
              a(href="#") Аксессуары
            li.leftblock-nav__item
              a(href="#") Видеокарты
            li.leftblock-nav__item
              a(href="#") Мониторы
      li.leftblock-nav__item
        a(href="#") Одежда
          ul.leftblock-nav__list_1
            li.leftblock-nav__item
              a(href="#") Шапки
            li.leftblock-nav__item
              a(href="#") Штаны
            li.leftblock-nav__item
              a(href="#") Кофты
      li.leftblock-nav__item
        a(href="#") Недвижимость
          ul.leftblock-nav__list_1
            li.leftblock-nav__item
              a(href="#") Аренда
            li.leftblock-nav__item
              a(href="#") Покупка
  aside.aside
    ul.aside__list
      li.aside__item
        a(href="#")
          .aside__image
            <svg>
              <use xlink:href="#i_bascet"></use>
            </svg>
          .aside__text
            span Прайс лист