nav.main-nav.section
  .main-nav__box.section__box
    ul.main-nav__list
      li.main-nav_item
        a(href="#") Главная
      li.main-nav_item
        a(href="#") Каталог
      li.main-nav_item
        a(href="#") Доставка и оплата
      li.main-nav_item
        a(href="#") Прайс-лист
      li.main-nav_item
        a(href="#") Контакты
