.slider.section
  .slider-bg
    ul.slider-bg__list.section__box
      li.slider-bg__item
      li.slider-bg__item
      li.slider-bg__item
      li.slider-bg__item
      li.slider-bg__item
      li.slider-bg__item
  .slider__box.section__box
    ul.slider__list.owl-carousel.owl-theme
      li.slider__item
        .slider__item-image
          img(src=path+"slide1.jpg", alt=".slider__item-image")
      li.slider__item
        .slider__item-image
          img(src=path+"slide2.jpg", alt=".slider__item-image")
      li.slider__item
        .slider__item-image
          img(src=path+"slide3.jpg", alt=".slider__item-image")